#breadcrumb_container{
    height: 30px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-top: 10px;
}

.breadcrumb{
    font-size: 12px !important;
}

#register_section .header img.icon{
    margin-bottom: 5px !important;
    height: 64px;
    width: auto;
}

#register_section > .header div{
    font-weight: normal;
    color: gray;
}

#register_section > .header{
    padding: 20px;
}

#register_section .header .sub.header{
    padding-top: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #427fed;
}


#register_section .header .sub.header a{
    color: #69a816;
    border-bottom: 1px dotted #69a816;
}

#register_section .header .sub.header a:hover{
    color: #69dd16;
}

#register_section{
    padding: 10px 120px 120px 120px;
}

body{
    background-color: #ddd;
}

#base_content_block_container>#main_content{

    margin: 5px 80px 0px 80px;
}

#register_grid{
    padding: 30px;
}

#register_grid .column{
    padding: 20px 40px 10px 0px;
    direction: rtl;
}


#register_grid .column .icon{
    margin-left: 15px;
}


#register_grid .column .icon.circular{
    margin-right: 10px;
}

#register_grid #site_benefits div{
    padding-bottom: 35px;
    font-size: 15px;
}

#register_grid .column form{
    padding-left: 90px;
}

#register_grid .column form .field input, #register_grid .column form button{
    padding: 5px;
    width: 100%;
    margin: 0 !important;
}

#register_grid .column form .fields .field{
    padding: 0;
}


#register_grid .column form .fields .field:first-child{
    margin-left: 10px;
}

#register_grid .column form button{
    height: 38px;
}

#register_grid .column form .checkbox{
    font-size: 12px;
    font-weight: bold;
}

#register_grid .divider{
    width: 100%;
    margin-top: 20px;
}

#register_grid .error.message{
    padding-right: 10px;
}

#register_grid .error ul{
    /*direction: rtl !important;*/
    text-align: right;
    margin-left: 10px;
    /*list-style: none;*/
    /*color: red;*/
}

#register_grid .error li{
    /*direction: rtl;*/

    /*color: red;*/
}

.rtl{
    flex-direction: row-reverse;
    direction: rtl;
}