{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/engine1/style.css' %}" />
    <script type="text/javascript" src="{% static 'home/engine1/jquery.js' %}"></script>
    <!-- End WOWSlider.com HEAD section -->
{% endblock %}



{% block content %}
    <br><br>

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="{% static 'home/data1/tooltips/2c04826e09a2d5e19101b62a6843ba68.jpg' %}" alt="2c04826e09a2d5e19101b62a6843ba68" title="2c04826e09a2d5e19101b62a6843ba68" id="wows1_0"/></li>
		<li><img src="{% static 'home/data1/tooltips/9255c842486894114896cc6b8a92714f.jpg' %}" alt="9255c842486894114896cc6b8a92714f" title="9255c842486894114896cc6b8a92714f" id="wows1_1"/></li>
		<li><img src="{% static 'home/data1/tooltips/cc021ca251f443c4a934cba184872eff.jpg' %}" alt="cc021ca251f443c4a934cba184872eff" title="cc021ca251f443c4a934cba184872eff" id="wows1_2"/></li>
		<li><a href="http://wowslider.com"><img src="{% static 'home/data1/tooltips/imageslider2.jpg' %}" alt="slider jquery" title="image-slider-2" id="wows1_3"/></a></li>
		<li><img src="{% static 'home/data1/images/slider9.jpg' %}" alt="slider9" title="slider9" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="پاتایا"><span><img src="{% static 'home/data1/tooltips/2c04826e09a2d5e19101b62a6843ba68.jpg' %}" alt="پاتایا"/>1</span></a>
		<a href="#" title="آنتالیا"><span><img src="{% static 'home/data1/tooltips/9255c842486894114896cc6b8a92714f.jpg' %}" alt="آنتالیا"/>2</span></a>
		<a href="#" title="ابرقو"><span><img src="{% static 'home/data1/tooltips/cc021ca251f443c4a934cba184872eff.jpg' %}" alt="cc021ca251f443c4a934cba184872eff"/>3</span></a>
		<a href="#" title="image-slider-2"><span><img src="{% static 'home/data1/tooltips/imageslider2.jpg' %}" alt="image-slider-2"/>4</span></a>
		<a href="#" title="slider9"><span><img src="{% static 'home/data1/tooltips/imageslider2.jpg' %}" alt="slider9"/>5</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">joomla slideshow</a> by WOWSlider.com v8.2</div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="{% static 'home/engine1/wowslider.js' %}"></script>
<script type="text/javascript" src="{% static 'home/engine1/script.js' %}"></script>
<!-- End WOWSlider.com BODY section -->

    <br><br>

{% endblock %}