{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'tourist/css/profile.css' %}"/>
{% endblock %}
{% block title %}
<title>
مشخصات گردشگر
</title>
{% endblock %}
{% block content %}
     <div class="mrg-auto" style="height: auto; margin-top: 10px; margin-bottom: 10px;">
        <div class="ui grid rtl" style="margin-bottom: 10px;">
            <div class=" twelve wide column right_float" style="background-color: white; margin: 25px auto!important;
             box-shadow: honeydew; ">
                <div class="ui container segment right_aligned" style="border: none; box-shadow: none">

    <div class="rtl">
        <div class="right floated" id="profpic">
            <div class="ui  cards">
                <div class="card">
                    <div class="image">
                        {% if image %}
                            <img style="width: 270px; min-height: 240px;" src={{ image.url }}>
                        {% else %}
                            <img style="width: 270px; min-height: 240px;" src="{% static 'bower_components/semantic-ui/examples/assets/images/wireframe/image-square.png' %}">
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="left floated" id="user_information">
            <table id="information">
                <tr>
                    <td>نام و نام خانوادگی :
                        {{ name }}
                    </td>
                    <td>تاریخ تولد:
                        {{ birth_day }}
                    </td>
                </tr>
                <tr>
                    <td>نام کاربری :
                        {{ user_name }}
                    </td>
                    <td>ایمیل :
                        {{ mail }}
                    </td>
                </tr>
                <tr>
                    <td>محل سکونت :
                        {{ address }}
                    </td>
                    <td>شماره تماس:
                        {{ phone }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

                </div></div></div></div>
{% endblock %}