{% extends 'tourist/dashbord.html' %}

{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'tourist/css/profile.css' %}"/>
    <script type="text/javascript" src="{% static 'tourist/javascript/profile.js' %}"></script>
{% endblock %}
{% block title %}
    <title>پنل کاربری</title>
{% endblock %}
{% block menu_content %}
    <div class="rtl">
                            <div class="right floated" id="profpic">
                                <div class="ui special cards">
                                    <div class="card">
                                        <div class="image">

                                            <img src="{% static 'bower_components/semantic-ui/examples/assets/images/avatar/tom.jpg' %}">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="left floated" id="user_information">
                                <table id="information">
                                    <tr>
                                        <td>نام و نام خانوادگی : صدرا بریری</td>
                                        <td>تاریخ عضویت: 24 فروردین</td>
                                    </tr>
                                    <tr>
                                        <td>نام کاربری : صدرا کوچولو</td>
                                        <td>ایمیل : sadra@sadra.sadra</td>
                                    </tr>
                                    <tr>
                                        <td>محل سکونت : تهران، تهران</td>
                                        <td>شماره تلفن : 2466</td>
                                    </tr>
                                </table>
                                <div id="buttons">
                                    <div class="ui buttons">
                                        <button class="ui red button">اصلاح مشخصات</button>
                                        <div class="or" data-text="یا"></div>
                                        <button class="ui black button">تغییر کلمه عبور</button>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px; height: 10px;"></div>
                        </div>
{% endblock %}

