{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{% static 'tourist/css/register_style.css' %}"/>
    {#    <script type="text/javascript" src="{% static 'home/engine1/jquery.js' %}"></script>#}
{% endblock %}

{% block content %}
    <div id="main_content">
        <div class="ui segment" id="register_section">
            <div class="ui center aligned small icon header"
                 style="font-family: 'yekan', 'B Koodak', 'X Koodak', 'Koodak', Arial, serif">
                <img class="icon" src="{% static 'tourist/images/register_icon.png' %}">

                <div style="font-family: inherit">
                    به سپاس ایران بپیوندید
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui two column middle very relaxed stackable aligned grid">
            <div class="column">
                sssalam
            </div>
            <div class="ui vertical divider"></div>
            <div class="column">
                slalamdf
            </div>
        </div>

        </div>
        </div>
    </div>
{% endblock %}