{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'service/css/information.css' %}">
{% endblock %}
{% block title %}
    <title>
        اطلاعات خدمت
    </title>
{% endblock %}
{% block content %}
<div id="base_content_block_container">
    <div id="main_content">
            <div class="ui segment rtl" id="breadcrumb_container">
                <div class="ui right_float rtl breadcrumb">
                    <a href="{% url 'home' %}" class="section">صفحه اصلی</a>
                    <i class="left angle icon divider"></i>

                    <div class="active section">اطلاعات خدمت</div>
                </div>
            </div>
            <div class="ui segment" id="register_section">

                <div class="ui huge divided list">
                    {% for foo in context %}
                        <div class="item">
                            <img class="ui avatar image" src="{{ foo.tourist.image.url }}">
                            <div class="content">
                                <a class="header" href="/tourist/information/{{ foo.tourist.id }}">{{ foo.tourist }}</a>
                                <div class="description">خریداری شده در  <b>{{ foo.date }}</b> به تعداد  <b>{{ foo.number }}</b> با شماره فاکتور <b>{{ foo.factor_num }}</b>  </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock %}