{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'service/css/service_list.css' %}">
{% endblock %}

{% block content %}
    <div class="body">
        <div id="main_container" class="center aligned">
            <div class="list_container">
                <div class="ui four cards">
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="2"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
</div>
            </div>
            <div class="search_container">
            </div>
        </div>
    </div>
{% endblock %}




