{% extends 'base/base.html' %}
{% load staticfiles %}


{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'service/css/service_list.css' %}">



    <script>
    $(document).ready(function() {
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: "{{max_price.price}}",
    values: [ "{{max_price.price}}" / 4,  "{{max_price.price}}" * 3 / 4],
    slide: function( event, ui ) {
    $( "#amount" ).val( "تومان" + ui.values[ 1 ] + " - تومان" + ui.values[ 0 ] );
    }
    });
    $( "#amount" ).val( "تومان" + $( "#slider-range" ).slider( "values", 1              ) +
    " - تومان" + $( "#slider-range" ).slider( "values", 0 ) );
    });
    </script>
{% endblock %}

{% block title %}
{% if type == 'tour' %}
<title>لیست تورها</title>
{% endif %}
{% if type == 'flight' %}
<title>لیست پروازها</title>
{% endif %}
{% if type == 'room' %}
<title>لیست اتاق ها</title>
{% endif %}
{% endblock %}

{% block content %}
    <div class="body">
        <div id="main_container" class="center aligned">
            <div class="list_container">
                <div class="advanced_search_box">
                    <div class="ui right_float rtl breadcrumb">
                        <a href="{% url 'home' %}" class="section">صفحه اصلی</a>
                        <i class="left angle icon divider"></i>
                        <a class="section">خدمات</a>
                        <i class="left angle icon divider"></i>
                        <div class="active section">لیست تورها</div>
                    </div>
                    <br><br>
                    <div class="ui floating right_float right_aligned dropdown labeled mini grey search icon button">
                        <i class="marker icon"></i>
                        <span class="text">مبدا</span>
                        <div class="menu">
                            <div class="item">تهران</div>
                            <div class="item">اصفهان</div>
                            <div class="item">مشهد</div>
                            <div class="item">شیراز</div>
                            <div class="item">تبریز</div>
                            <div class="item">کرج</div>
                            <div class="item">ارومیه</div>
                            <div class="item">بندرعباس</div>
                            <div class="item">زاهدان</div>
                        </div>
                    </div>
                    <div class="ui floating right_float right_aligned dropdown labeled mini grey search icon button">
                        <i class="marker icon"></i>
                        <span class="text">مقصد</span>
                        <div class="menu">
                            <div class="item">تهران</div>
                            <div class="item">اصفهان</div>
                            <div class="item">مشهد</div>
                            <div class="item">شیراز</div>
                            <div class="item">تبریز</div>
                            <div class="item">کرج</div>
                            <div class="item">ارومیه</div>
                            <div class="item">بندرعباس</div>
                            <div class="item">زاهدان</div>
                        </div>
                    </div>
                    <div class="ui right_aligned right_float floating labeled icon grey tiny dropdown button">
                    <i class="taxi icon"></i>
                    <span class="text">نوع سفر</span>
                    <div class="menu">
                      <div class="item">
                        <i class="plane icon"></i>
                        هوایی
                      </div>
                      <div class="item">
                        <i class="car icon"></i>
                        زمینی
                      </div>
                    </div>
                </div>
                <div class="ui right_float right_aligned rtl mini search" style="margin-right: 5px;">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="جستجو">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                    <br><br>
                <div class="ui labels right_aligned right_float">
                    <a class="ui label">
                        <i class="close icon"></i>
                        تور
                    </a>
                    <a class="ui label">
                        <i class="close icon"></i>
                      خدمات
                    </a>
                    <a class="ui label">
                        <i class="close icon"></i>
                      سپاس ایران
                    </a>
                    <a class="ui label">
                        <i class="close icon"></i>
                      ابطحی
                    </a>
                    <a class="ui label">
                        <i class="close icon"></i>
                      بدبختی
                    </a>
                  </div>
                </div>

                <div class="ui divider"></div>

                <br><br><br>
                <div class="ui right_float three cards">
                    {% for service in services %}
                    <div class="ui card rtl right_aligned">
                        <div class="image">
                            <img class="list_item_img" src="{{service.0.image.url}}" style=" height:250px;">
                        </div>
                        <div class="content">
                            {% if isinstance(service, Tour) or isinstance(service, Flight) %}
                            <div class="header">

                                <a href="{% url 'shopping' %}" class="header">{{service.origin}}</a>
                                <i class="long arrow left icon"></i>


                                <a href="{% url 'shopping' %}" class="left_float header">{{service.destination}}</a>

                            </div>
                            {% endif %}
                            {% if isinstance(service, Room) %}
                            <a href="{% url 'shopping' %}" class="header">{{service.hotel.location.city}}</a>
                            {% endif %}
                            <br/>
                            <div class="meta">
                            {% if isinstance(service, Tour) %}
                                <span class="date">{{service.going_date}}</span>
                            {% endif %}
                            {% if isinstance(service, Flight) %}
                                <div class="date">{{service.date}}</div>
                                <div class="time">{{service.time}}</div>
                            {% endif %}
                            {% if isinstance(service, Room) %}
                                <span>از </span>
                                <span class="date">{{service.start_date}}</span>
                                <span> به </span>
                                <span class="date">{{service.start_date}}</span>


                            {% endif %}
                            </div>
                            <div class="description">
                            {% if isinstance(service, Tour) %}
                                {{service.tag_line}}
                            {% endif %}
                            {% if isinstance(service, Flight) %}
                                {{service.airline.name}}
                            {% endif %}
                            {% if isinstance(service, Room) %}
                                {{service.hotel.name}}
                            {% endif %}
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="user icon"></i>
                                {{service.sold_number}} خریدار
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="ui card rtl right_aligned">
                        <div class="image">
                            <img src="{% static 'service/images/tour.jpeg' %}">
                        </div>
                        <div class="content">
                            <a href="{% url 'shopping' %}" class="header">مشهد</a>
                            <div class="meta">
                            <span class="date">شهریور 94</span>
                            </div>
                            <div class="description">
                                بهترین تور مشهد با نازلترین قیمت
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="user icon"></i>
                                333 خریدار
                            </a>
                        </div>
                    </div>




                </div>
            </div>
            <div class="search_container">
                <form method="post">
                    <input type="text" id="amount"  style="border:0; color:#777777; padding:12; font-size:15px; width: 220px; ">
                    <div id="slider-range" style="width:220px;"></div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}




