{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'service/css/service_list.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/persian-datepicker-0.4.5.css' %}"/>
    <script src="{% static 'base/javascript/persian-date-0.1.8.js' %}"></script>
    <script src="{% static 'base/javascript/persian-datepicker-0.4.5.js' %}"></script>
    <script src="{% static 'service/javascript/date_search.js' %}"></script>


    <script>
    $(document).ready(function() {
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: "{{max_price.price}}",
    values: [ "{{max_price.price}}" / 4,  "{{max_price.price}}" * 3 / 4],
    slide: function( event, ui ) {
    $( "#amount" ).val(ui.values[ 1 ] +  " ریال - "+ ui.values[ 0 ] + " ریال" );
    }
    });
    $( "#amount" ).val($( "#slider-range" ).slider( "values", 1) +  " ریال - " 
    + $( "#slider-range" ).slider( "values", 0 ) + "  ریال " );
    });
    </script>
{% endblock %}

{% block title %}
{% if type == 'tour' %}
<title>لیست تورها</title>
{% endif %}
{% if type == 'flight' %}
<title>لیست پروازها</title>
{% endif %}
{% if type == 'room' %}
<title>لیست اتاق ها</title>
{% endif %}
{% endblock %}

{% block content %}
    <div class="body">
        <div id="main_container" class="center aligned">
            <div class="list_container">
                
                <br><br>
                <div class="ui four cards">
                    {% for service, sold in service_sold %}
                    {% include 'base/service_show.html'%}

                    {% endfor %}




                </div>
            </div>
            <div class="search_container">
                {% if type == 'tour' %}
                <form method="post" class="ui form" action="{% url 'type_service_list' type='tour' %}" id="search_form">
                {% endif %}
                {% if type == 'flight' %}
                <form method="post" class="ui form" action="{% url 'type_service_list' type='flight' %}">
                {% endif %}
                {% if type == 'room' %}
                <form method="post" class="ui form" action="{% url 'type_service_list' type='room' %}">
                {% endif %}
                    <!--<input type="text" id="amount"  style="border:0; color:#777777; padding:12; font-size:15px; width: 220px; ">-->
                    {% csrf_token %}
                    <div class="field">
                        {{form.price_range}}
                        <div id="slider-range" style="width:220px;"></div>
                    </div>
                    <div class="field">
                        <label>{{form.service_provider.label}}</label>
                        {% if type == 'tour' %}
                        {{ form.travel_agency }}
                        {% endif %}
                        {% if type == 'flight' %}
                        {{ form.airline }}
                        {% endif %}
                        {% if type == 'room' %}
                        {{ form.hotel }}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label >{{form.start_date.label}}</label>
                        {{form.start_date}}
                    </div>
                    <div class="field">
                        <label >{{form.end_date.label}}</label>
                        {{form.end_date}}
                    </div>
                    {% if type == 'tour' or type == 'flight' %}
                    <div class="field">
                        <label >{{form.origin.label}}</label>
                        {{form.origin}}
                    </div>
                    <div class="field">
                        <label >{{form.destination.label}}</label>
                        {{form.destination}}
                    </div>
                    {% endif %}
                    {% if type == 'room' %}
                    <div class="field">
                        <label >{{form.location.label}}</label>
                        {{form.location}}
                    </div>
                    {% endif %}
                     <div>
                         <input type="submit"  class="ui left labeled icon positive button" value="جست و جو">

                         </input>
                     </div>
                </form>


        </div>
    </div>
{% endblock %}




