/* BLOCK ELEMENTS */

* {
    box-sizing: border-box !important;
}

@font-face {
    font-family: 'yekan';
    src: url(../../fonts/yekan.ttf);
}

*:not(i):not(.ws_nav) {
    font-family: yekan, serif !important;
}

html, div, map, dt, form {
    display: block;
}

body {
    background-color: #dfdfdf;
    display: block;
    font-family: serif;
    font-size: medium;
}

p, dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

dd {
    display: block;
    margin-left: 40px;
}

address {
    display: block;
    font-style: italic;
}

blockquote {
    display: block;
    margin: 1em 40px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
}

h3 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin: 1em 0;
}

h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 1.33em 0;
}

h5 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1.67em 0;
}

h6 {
    display: block;
    font-size: 0.5625em;
    font-weight: bold;
    margin: 2.33em 0;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

hr {
    display: block;
    height: 2px;
    border: 1px;
    margin: 0.5em auto 0.5em auto;
}

/* TABLE ELEMENTS */
table {
    border-spacing: 2px;
    border-collapse: separate;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
}

caption {
    text-align: center;
}

td {
    padding: 1px;
}

th {
    font-weight: bold;
    padding: 1px;
}

tbody, thead, tfoot {
    vertical-align: middle;
}

/* INLINE ELEMENTS */
strong {
    font-weight: bold;
}

cite, em, var, dfn {
    font-style: italic;
}

code, kbd, samp {
    font-family: monospace;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

sub {
    vertical-align: -0.25em;
    font-size: smaller;
    line-height: normal;
}

sup {
    vertical-align: 0.5em;
    font-size: smaller;
    line-height: normal;
}

abbr[title], {
    border-bottom: dotted 1px;
}

/* LIST ELEMENTS */
ul {
    list-style-type: disc;
    margin: 1em 0;
    margin-left: 40px;
    padding-left: 0;
}

ol {
    list-style-type: decimal;
    margin: 1em 0;
    margin-left: 40px;
    padding-left: 0;
}

/* remove top & bottom margins for nested lists */
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
    margin-top: 0;
    margin-bottom: 0;
}

/* use circle when ul nested 2 deep */
ol ul, ul ul {
    list-style-type: circle;
}

/* use square when ul nested 3 deep */
ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

/***************************details****************************/

.rtl {
    direction: rtl;
    /*flex-direction: row-reverse;*/
    /*text-align: right;*/
}

.vertical_center_child {
    display: table !important;
}

.vertical_center_child > *:not(.floated) {
    display: table-cell !important;
    vertical-align: middle !important;
    /*height: 100% !important;*/
}

.sep {
    margin-right: 10px;
    margin-left: 30px;
    padding-top: 7px;
    padding-bottom: 5px;
    width: 0;
    height: 10px;
    border: 1px solid gainsboro;
    display: inline;
}

.mrg-auto {
    margin: auto;
    width: 1190px;
    padding-right: 8px;
    padding-left: 8px;
}

.vertical_divider {
    width: 1px;
    height: 60%;
    border: 1px solid gainsboro;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
}

.digigreen {
    background: -moz-linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;
    background: -o-linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;
    background: -webkit-linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;
    background: linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;

    color: #ffffff !important;
    border: 1px solid #5b9113 !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4) !important;
}

.digigreen:hover {
    background: -moz-linear-gradient(top, #69a715 0%, #77bd19 100%) !important;
    background: -o-linear-gradient(top, #69a715 0%, #77bd19 100%) !important;
    background: -webkit-linear-gradient(top, #69a715 0%, #77bd19 100%) !important;
    background: linear-gradient(top, #69a715 0%, #77bd19 100%) !important;

    color: #ffffff !important;
}

.digilightgreen {
    background: -moz-linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;
    background: -o-linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;
    background: -webkit-linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;
    background: linear-gradient(bottom, #69a715 0%, #77bd19 100%) !important;

    color: #ffffff !important;
    border: 1px solid #5b9113 !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4) !important;
}

.digilightgreen:hover {
    background: -moz-linear-gradient(top, #69a715 0%, #77bd19 100%) !important;
    background: -o-linear-gradient(top, #69a715 0%, #77bd19 100%) !important;
    background: -webkit-linear-gradient(top, #69a715 0%, #77bd19 100%) !important;
    background: linear-gradient(top, #69a715 0%, #77bd19 100%) !important;

    color: #ffffff !important;
}

.digiblue {
    background: -moz-linear-gradient(top, #4C8EFD 0%, #3881FD 100%) !important;
    background: -o-linear-gradient(top, #4C8EFD 0%, #3881FD 100%) !important;
    background: -webkit-linear-gradient(top, #4C8EFD 0%, #3881FD 100%) !important;
    background: linear-gradient(top, #4C8EFD 0%, #3881FD 100%) !important;

    color: #ffffff !important;
    border: 1px solid #666 !important;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15) !important;
}

.digiblue:hover {
    background: -moz-linear-gradient(bottom, #4C8EFD 0%, #3881FD 100%) !important;
    background: -o-linear-gradient(bottom, #4C8EFD 0%, #3881FD 100%) !important;
    background: -webkit-linear-gradient(bottom, #4C8EFD 0%, #3881FD 100%) !important;
    background: linear-gradient(bottom, #4C8EFD 0%, #3881FD 100%) !important;

    color: #ffffff !important;
}

.forestgreen {
    background-color: forestgreen !important;
    color: #ffffff !important;
}

#header {
    width: 100%;
    height: 100px;
    background: #ffffff;
    font-size: 14px;
}

#runit {
    width: 790px;
    height: 100%;
    float: right;
}

#header_container {
    width: 1190px;
    margin: auto;
    height: 100%;
}

#logo {
    width: 400px;
    float: right;
    height: 100%;
}

#nav {
    width: 100%;
    height: 43px;
    background: #f5f5f5;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px rgba(0, 0, 0, 0.1);
}

#navbar {
    width: 1180px;
    margin: auto;
    height: auto;
    border: none;
    box-shadow: none;
    direction: rtl;
    text-align: right;
    background: none;
}

#navbar::content {
    float: right;
}

#navbar ul li {
    display: inline;
    /*padding: 7px 0 11px 14px;*/
    /*position: relative;*/
    /*top: 0 ;*/
}

#navbar a:hover {
    /*background-color: #f5f5f5;*/
    color: #e00;
    transition: 0.2s ease;
}

#navbar a {
    font-size: 1em;
    text-decoration: none;
    padding: 5px 10px 11px 10px;
    color: #666;
    background-color: inherit;
    position: relative;
    top: 4px;
    text-align: right;
}

#navbar a::content {
    float: left;
}

#sepasiran {
    width: 200px;
    height: auto;
}

#user-menu {
    width: 790px;
    height: 40px;
    margin-top: 4px;
    padding-right: 2px;
}

#search {
    width: 790px;
    height: 36px;
    margin-top: 2px;
    padding-right: 2px;
}

#sign-in {
    height: 100%;
    width: auto;
    float: right;
    padding-top: 6px;
    margin-left: 0px;
}

#sign-up {
    height: 100%;
    width: auto;
    float: right;
    padding-top: 6px;
    margin-right: 0px;
}

#manage {
    height: 100%;
    width: auto;
    float: right;
    padding-top: 6px;
    margin-right: 12px;
}

#search_box {
    margin-right: 10px;
    width: 500px;
    height: 100%;
}

.right_aligned {
    text-align: right !important;
}

#cart {
    /*padding-right: 4px;*/
    padding-bottom: 4px;
}

#search_box input {
    padding: 7px;
    border: 1px solid #b6b6b6;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15);
}

#search_box input:focus {
    box-shadow: 0 0 2px rgba(81, 203, 238, 1);
}

.right_float {
    float: right;
}

.left_float {
    float: left;
}

a.nodec {
    text-decoration: none;
    color: #a1a1a4;
}

#footer {
    height: auto;
    /*width: 100%;*/
    border-top: 4px solid #ee3e3e;
    border-bottom: 1px solid #1B1C1D;
    font-size: 14px;
    /*margin: 0 !important;*/
}

.bordered {
    /*border: 1px solid black;*/
}

.vertical_divider {
    width: 1px;
    height: 60%;
    border: 1px solid gainsboro;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
}

#footer .topwrap {
    height: 80px;

    padding-left: 80px !important;
    padding-right: 80px !important;

    background-color: #292929;
    border-bottom: 1px solid #141414;

    font-size: 16px !important;
    color: #ffffff !important;
}

#footer .topwrap .list .item a {
    font-size: 15px !important;
    color: #ffffff !important;
}

#footer .topwrap .list .item a:hover {
    color: #a5a5a5 !important;
}

#footer .topwrap .list .item {
    font-size: 15px !important;
    color: #ffffff !important;
    direction: ltr !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-left: 1px solid rgba(100, 100, 100, 0.9) !important;
    margin: 0 !important;
}

#footer .topwrap .list .item:last-of-type {
    padding-left: 0 !important;
    border-left: none !important;
}

.brd {
    padding-left: 80px !important;
    padding-right: 80px !important;

    height: 320px;
    background: #323232;
    border-top: 1px solid #4c4c4c;
}

.brd .column {
    color: #fff;
    font-size: 15px;
    direction: rtl;
    padding-top: 24px;
}

.general-link, .footer_gray {
    color: #ddd !important;
    font-size: 14px !important;
}

.general-link:hover {
    color: grey !important;
}

#footer a.register.button{
    padding: 7px 20px;
    margin-top: 15px;
}

.copyright {
    width: 100%;
    height: 55px;
    background-color: #383838;
    border-top: 1px solid #141414;
    color: #a5a5a5;
    font-size: 13px !important;
}

.copyright-in {
    margin: auto;
    height: auto;
    text-align: center;
}

.copyright a {
    color: #bbb;
}

.copyright a:hover {
    color: gray;
}

.item_preview {
    background-color: #fdfdfe;
    padding: 20px;
    width: 100%;
    height: auto;
}

.card_image {
    width: 359px;
    height: 300px !important;
}

.card_link {
    text-align: center;
    font-size: 18px;
    background-color: #404040 !important;
}

.card_header {
    color: #ffffff !important;
}

.new_topics {
    text-align: right;
}

.persian_card {
    text-align: right;
    direction: rtl;
}

.new_topics_img {
    width: 198px !important;
    height: 159px !important;
}

a:hover {
    color: red;
    transition: 0.3s ease;
}

.login.modal {
    width: 365px !important;
    left: 0 !important;
    right: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.login.modal .close{
    top: 1rem !important;
    left: 0.5rem !important;
    right: auto;
    padding: 0 ;
    font-size: 24px;
}

.login.modal .close::before{
}


.login.modal .header:not(.bottom) {
    background: #F6F8F8;
    color: #666;
    font-size: 16px !important;
    font-weight: normal !important;
}

.login.modal .content {
    padding: 50px 30px;
}

.login.modal .divider {
    margin: 0;
}

.login.modal .bottom.header {
    background: #F6F8F8;
    color: #3c3c3c !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 20px 35px 10px;
}

.login.modal * {
    direction: rtl;
    flex-direction: row-reverse;
    text-align: right;
}

.login.modal form .field input {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .15);
    border: 1px solid #bdc7cd;
}

.login.modal form .field input:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 0 4px rgba(77,143,253,.5);
    border: 1px solid #4d8ffd;
}

.login.modal form .field input:focus{
    box-shadow: 0 1px 4px rgba(0,0,0,.2), inset 0 0 4px rgba(77,143,253,.5);
    border: 1px solid #36f;
}

.login.modal form .field input, .modal form button {
    padding: 5px;
    width: 100%;
    margin: 0 !important;
}

.login.modal form a.forgot_pass{
    font-size: 10px;
    color: #427fed;
    float: left;
    margin-top: 4px;
}

.login.modal form a:hover{
    color: #ed1b2f;
}

.login.modal form button {
    height: 38px;
    text-align: center;
}

.login.modal .rememberme{
    margin-bottom: 15px;
    font-size: 12px !important;
    font-weight: bold !important;
}

.login.modal .rememberme input {
    /*font-size: 12px !important;*/
    /*font-weight: normal !important;*/
    /*padding: 3px;*/
    /*align-content: flex-start;*/
}

.login.modal .register a {
    color: #69a816;
    border-bottom: 1px dotted #69a816;
    margin-right: 5px;
}

.login.modal .register a:hover {
    color: #ed1b2f;
    border-bottom: 1px dotted #ed1b2f;
}


.cd-top {
  display: inline-block;
  height: 58px;
  width: 58px;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #ffffff url(../images/up_arrow.png) no-repeat center 50%;
  visibility: hidden;
    z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}