{% extends 'service_provider/provider_dashbord_base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
    درخواست تبلیغ
{% endblock %}

{% block menu_content %}
    <div class="ui piled segment">
        <h4 class="ui header">تبلیغات در صفحه ابتدایی سایت</h4>
        <h5>خدمت ساز گرامی،</h5>
        <p>برای شما، امکان تبلیغ در اسلایدر صفحه ابتدایی سایت قرار گرفته است.</p>
        <p>شما می توانید در این قسمت درخواست تبلیغ خود را به مدیریت سایت ارائه دهید.
        برای این کار شما باید از فرم زیر تعداد روزهای مورد نیاز خود را برای تبلیغ، مشخص کرده، درخواست تبلیغ خود را ارائه دهید.
            مدیریت پس از بررسی درخواست تبلیغ، در صورت عدم وجود مشکل در کار شما، زمان ممکن برای تبلیغ شما را اعلام خواهد کرد.
            توجه کنید که هزینه هر روز تبلیغ در صفحه ابتدایی سایت،
            <span>140,000</span>
            ریال می باشد.
        </p>
    </div>
{% endblock %}

