{% extends 'base/base.html' %}

{% block title %}<title>داشبورد مدیریتی</title>{% endblock %}

{% block content %}

    <div class="mrg-auto" style="height: auto; margin-top: 10px; margin-bottom: 10px;">
        <div class="ui grid rtl" style="margin-bottom: 10px;">
            <div class="three wide column ">
                <div class="ui vertical menu ">
                    <div class="item">
                        <div class="header">خانه</div>
                        <div class="menu">
                            <a class="item" href="{% url 'service_provider_panel' %}">پروفایل خدمت رسان</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">افزودن خدمت</div>
                        <div class="menu">
                            <a class="item" href="{% url 'new_service' %}">افزودن خدمت جدید</a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="header">گزارش گیری</div>
                        <div class="menu">
                            <a class="item" href="{% url 'report' %}">گزارش عملکردی</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">پیام ها</div>
                        <div class="menu">
                            <a class="item" href="{% url 'write' %}">پیام جدید</a>
                            <a class="item" href="{% url 'message_box' %}">صندوق پیام ها
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">تاریخچه خدمات</div>
                        <div class="menu">
                            <a class="item" href="{% url 'provider_service_list' %}">لیست خدمات شما</a>
                        </div>
                    </div>
                     <div class="item">
                        <div class="header">تبلیغات</div>
                        <div class="menu">
                            <a class="item" href="{% url 'provider_service_list' %}">درخواست تبلیغ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" twelve wide column right_float" style="background-color: white; margin-top: 15px;
            margin-bottom: 15px; box-shadow: honeydew; margin-right: 10px;">
                <div class="ui container segment right_aligned" style="border: none; box-shadow: none">
                    <div class="ui small breadcrumb">
                        <a class="section" href="{% url  'home' %}">خانه</a>
                        <i class="left chevron icon divider"></i>
                        <a class="section" href="{% url 'service_provider_panel' %}">پنل کاربری</a>
                        <i class="left chevron icon divider"></i>
                        <div class="active section">
                            {% block breadcrumb %}

                            {% endblock %}
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    {% block menu_content %}

                    {% endblock %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% load staticfiles %}
<head>
    <link type="text/css" rel="stylesheet"
          href="{% static 'bower_components/semantic-ui/dist/semantic.css' %}">
    <script type="text/javascript"
            src="{% static 'bower_components/semantic-ui/dist/semantic.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
</head>

