{% extends "base/base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'service_provider/css/register_style.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'base/css/persian-datepicker-0.4.5.css' %}"/>
    <script src="{% static 'base/javascript/persian-date-0.1.8.js' %}"></script>
    <script src="{% static 'base/javascript/persian-datepicker-0.4.5.js' %}"></script>
    <script type="text/javascript" src="{% static 'service_provider/javascript/register_script.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block title %}
    <title>
        ثبت نام گردش ساز
    </title>
{% endblock %}


{% block content %}
    <div id="main_content">
        <div class="ui segment rtl" id="breadcrumb_container">
            <div class="ui right_float rtl breadcrumb">
                <a href="{% url 'home' %}" class="section">صفحه اصلی</a>
                <i class="left angle icon divider"></i>

                <div class="active section">ثبت نام گردش ساز</div>
            </div>
        </div>
        <div class="ui segment" id="register_section">
            <div class="ui center aligned small icon header"
                 style="font-family: 'yekan', 'B Koodak', 'X Koodak', 'Koodak', Arial, serif">
                <img class="icon" src="{% static 'service_provider/images/cooperation_icon.png' %}">

                <div style="font-family: inherit">
                    با سپاس ایران همکاری کنید
                </div>

            </div>
            <div class="ui divider"></div>
            <div class="ui two column center aligned divided relaxed stackable grid container right aligned"
                 id="register_grid">
                <div class="column right aligned" id="site_benefits">
                    <div>
                        <i class="circular inverted dollar icon yellow"></i><strong>با تجارت الکترونیک </strong>درآمد
                        خود را چند برابر کنید
                    </div>
                    <div>
                        <i class="line chart big icon teal"></i><strong>گزارش های مدیریتی </strong>همیشه در اختیار شماست
                        کنید
                    </div>
                    <div>
                        <i class="users big icon orange"></i><strong>با پاسخ به بازخورد کاربران </strong>محبوبیت خود را
                        زیاد کنید
                    </div>
                    <div>
                        <i class="settings big icon red"></i>سپاس ایران در سیستم خدمات حضوری شما <strong>دخالت نمی
                        کند</strong>
                    </div>
                    <div>
                        <i class="privacy big icon green"></i><strong>با سرورهای امن ما، </strong>از امنیت اطلاعات خود
                        مطمئن باشید
                    </div>
                </div>
                <div class="column right aligned">
                    <form class="ui form {% if form.errors %}error{% endif %}" {% if form.is_multipart %}
                          enctype="multipart/form-data" {% endif %} method="post" action="">
                        {% csrf_token %}
                        <h4 class="ui dividing header blue">
                            مشخصات نماینده حقوقی شرکت
                        </h4>

                        <div class="two fields">
                            <div class="field{% if form.first_name.errors %} error{% endif %}{% if form.first_name.field.required %} required{% endif %}">
                                {{ form.first_name.label_tag }}
                                {#                            <input type="text" name="first-name" placeholder="نام">#}
                                {{ form.first_name }}
                            </div>
                            <div class="field{% if form.last_name.errors %}error{% endif %}{% if form.last_name.field.required %} required{% endif %}">

                                {{ form.last_name.label_tag }}
                                {#                            <input class="" type="text" name="last-name" placeholder="نام خانوداگی">#}
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="field {% if form.national_id.errors %}error{% endif %}{% if form.national_id.field.required %} required{% endif %}">

                            {{ form.national_id.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="نام خانوداگی">#}
                            {{ form.national_id }}
                        </div>

                        <h4 class="ui dividing header blue">
                            ایجاد حساب کاربری شرکت
                        </h4>

                        <div class="field {% if form.username.errors %}error{% endif %}{% if form.username.field.required %} required{% endif %}">
                            {{ form.username.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.username }}
                        </div>
                        <div class="field {% if form.email.errors %}error{% endif %}{% if form.email.field.required %} required{% endif %}">
                            {{ form.email.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.email }}
                        </div>

                        <div class="field {% if form.password1.errors %}error{% endif %}{% if form.password1.field.required %} required{% endif %}">
                            {#                            <label>پست الکترونیک</label>#}
                            {{ form.password1.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.password1 }}
                        </div>
                        <div class="field {% if form.password2.errors %}error{% endif %}{% if form.password2.field.required %} required{% endif %}">
                            {{ form.password2.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.password2 }}
                        </div>

                        <div class="field {% if form.image.errors %}error{% endif %}{% if form.image.field.required %} required{% endif %}">
                            {{ form.image.label_tag }}
                            <label for="id_image" class="ui icon button">
                                <i class="file icon"></i>
                                انتخاب عکس
                            </label>
                            {{ form.image }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                        </div>

                        <h4 class="ui dividing header blue">
                            مشخصات گردش ساز / یار
                        </h4>

                        <div class="field {% if form.name.errors %}error{% endif %}{% if form.name.field.required %} required{% endif %}">
                            {{ form.name.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.name }}
                        </div>

                        <div class="field {% if form.short_description.errors %}error{% endif %}{% if form.short_description.field.required %} required{% endif %}">
                            {{ form.short_description.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.short_description }}
                        </div>

                        <div class="field {% if form.long_description.errors %}error{% endif %}{% if form.long_description.field.required %} required{% endif %}">
                            {{ form.long_description.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.long_description }}
                        </div>

                        <div class="field {% if form.telephone.errors %}error{% endif %}{% if form.telephone.field.required %} required{% endif %}">
                            {{ form.telephone.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.telephone }}
                        </div>

                        <div class="field{% if form.city.errors %} error{% endif %}{% if form.city.field.required %} required{% endif %}">
                            {{ form.city.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.city }}
                        </div>
                        <div class="field {% if form.address.errors %}error{% endif %}{% if form.address.field.required %} required{% endif %}">
                            {{ form.address.label_tag }}
                            {#                            <input class="" type="text" name="last-name" placeholder="example@host.com">#}
                            {{ form.address }}
                        </div>
                        <div class="field {% if form.type.errors %}error{% endif %}{% if form.type.field.required %} required{% endif %}">
                            <label>خدمت ارائه شده</label>

                            <div class="ui selection dropdown">
{#                                <input type="hidden" name="type">#}
                                {{ form.type }}
                                <i class="dropdown icon"></i>

                                <div class="default text">انتخاب کنید</div>
                                <div class="menu">
                                    <div class="item" data-value="tour" data-tab="tour">تور</div>
                                    <div class="item" data-value="hotel" data-tab="hotel">هتل</div>
                                    <div class="item" data-value="airline" data-tab="airline">هواپیمایی</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui tab field {% if form.type.value == 'tour' %}active{% endif %}" data-tab="tour">

                        </div>

                        <div class="ui tab field {% if form.type.value == 'hotel' %}active{% endif %}" data-tab="hotel">
                            <div class="field{% if form.degree.errors %} error{% endif %}{% if form.degree.field.required %} required{% endif %}">
                                {{ form.degree.label_tag }}
                                <div class="ui field" id="stars_container">

                                    <div class="ui star rating" data-rating="1"></div>
                                </div>
                                {{ form.degree }}
                            </div>

                            <label>امکانات:</label>

                            <div class="ui two column right aligned stackable divided grid segment" id="facilities">
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_restaurant }}
                                        {{ form.has_restaurant.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_coffeeshop }}
                                        {{ form.has_coffeeshop.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_conference_hall }}
                                        {{ form.has_conference_hall.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_emergency }}
                                        {{ form.has_emergency.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_fire_extinguisher }}
                                        {{ form.has_fire_extinguisher.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_protection_system }}
                                        {{ form.has_protection_system.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_health_center }}
                                        {{ form.has_health_center.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_internet }}
                                        {{ form.has_internet.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_photo_studio }}
                                        {{ form.has_photo_studio.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_parking }}
                                        {{ form.has_parking.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_pool }}
                                        {{ form.has_pool.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_jungle }}
                                        {{ form.has_jungle.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_sport_salloon }}
                                        {{ form.has_sport_salloon.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_gamenet }}
                                        {{ form.has_gamenet.label_tag }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui toggle checkbox">
                                        {{ form.has_shop_center }}
                                        {{ form.has_shop_center.label_tag }}
                                    </div>
                                </div>

                            </div>
                            <div class="field {% if form.map_widget.errors %}error{% endif %}">
                                {{ form.map_widget.label_tag }}
                                {{ form.map_widget }}
                                <div class="ui info message">
                                    برای گرفتن موقعیت جغرافیای هتل خود به
                                    <a href="https://support.google.com/maps/answer/3544418?hl=en">این لینک </a>
                                    مراجعه کنید و لینک share شده را در این قسمت قرار دهید.
                                </div>
                            </div>

                        </div>


                        <div class="ui tab field {% if form.type.value == 'airline' %}active{% endif %}" data-tab="airline">
                            <div class="field {% if form.is_international.errors %}error{% endif %}">
                                <div class="ui toggle checkbox">
                                    {{ form.is_international }}
                                    {{ form.is_international.label_tag }}
                                </div>
                            </div>
                        </div>


                        <button class="digilightgreen ui button" type="submit">ثبت نام در سپاس ایران</button>
                        <div class="ui divider"></div>
                        <div class="field">
                            <div class="ui checkbox" dir="ltr">
                                <input type="checkbox" name="terms" tabindex="0" class="hidden">
                                <label>من با تمام قوانین سپاس ایران موافقم</label>
                            </div>
                        </div>

                        <div class="ui error message rtl" dir="rtl">
                            {% for k, message in form.errors.items %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}