{% extends 'base/base.html' %}
{% load staticfiles %}
{% load base_extra %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'sale/css/cart.css' %}">
{% endblock %}

{% block title %}
    <title>سبد خرید</title>
{% endblock %}

{% block content %}
                    <form action={% if serviceItems %}
                    "{% url 'bank' %}"
                {% else %} javascript:f()
                {% endif %} method="post">
                    {% csrf_token %}
    <div class="body">
        <div id="main_container" class="center aligned">

            <div class="ui right_float rtl breadcrumb">
                <a href="{% url 'home' %}" class="section">صفحه اصلی</a>
                <i class="left angle icon divider"></i>
                <div class="active section">سبد خرید</div>
            </div>

            <br>

            <div class="ui divider"></div>

            <br>

            <div class="row">
                <h2 style="float: right;">سبد خرید شما در سپاس ایران</h2>
                <button class="huge green ui button left_float" id="cart" style="padding-bottom: 18px!important;" type="submit">
                        &nbsp &nbsp نهایی کردن خرید &nbsp &nbsp &nbsp
                    <i class="cart icon right_float"></i>
                </button>
            </div>
            <script type="text/javascript">
                function f(){
                    alert("موردی برای خرید وجود ندارد")
                }
            </script>
            <br><br>

            <table class="ui celled padded center aligned table">
                <colgroup>
                    <col class="w7">
                    <col class="w20">
                    <col class="w20">
                    <col class="w8">
                    <col class="w45">
                </colgroup>
                <thead>
                    <tr>
                        <th> </th>
                        <th>قیمت کل</th>
                        <th>قیمت واحد</th>
                        <th>تعداد</th>
                        <th>شرح خدمت</th>
                    </tr>
                </thead>
                <tbody>

                {% for serviceItem in serviceItems %}
                    <tr>
                        <td>
                           <div>
                               <a href="{% url 'cart' %}/{{ serviceItem.service.sold_number }}"><i class="big red remove circle outline icon"></i></a>
                           </div>
                        </td>
                        <td>
                            <input type="text"  readonly value="{{ serviceItem.get_price }}" class="readonly" id="total_{{ serviceItem.service.sold_number }}"/>
                        </td>
                        <td>
                            <span class="rtl">
                                <input type="text" id="price_{{ serviceItem.service.sold_number }}" readonly value="{{ serviceItem.service.price }}"  class="readonly" />
                            </span>
                        </td>
                        <td class="single line">
                            <select class="ui rtl right aligned dropdown" id="quantity_{{ serviceItem.service.sold_number }}" name="quantity_{{ serviceItem.service.sold_number }}">
                                {% for i in serviceItem.range %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <script type="text/javascript">
                                z = "#total_{{ serviceItem.service.sold_number }}"
                                y = "#price_{{ serviceItem.service.sold_number }}"
                                x = '#quantity_{{ serviceItem.service.sold_number }}'
                                $(x).change(function(){
                                    var q = $(this).val();
                                    console.log(q);
                                    var tot = q * $(y).val();
                                    console.log(tot);
                                    var m = tot - $(z).val();
                                    console.log(m);
                                    $(z).val(tot);
                                    var val = $("#total_price").text();
                                    console.log(val);
                                    w = m + parseInt(val);
                                    console.log(w);
                                    $("#total_price").text(w);
                                });
                            </script>
                        </td>
                        <td>
                             <div class="pd">
                                <div class="pic">
                                    <img src={{ serviceItem.service.image.url }}>
                                </div>
                                <div class="desc">
                                    <h4>

                                    {{ serviceItem.service.tag_line }}
                                    </h4>
                                    <h5>

                                    {{ serviceItem.service.tag_line }}
                                    </h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <div class="row">
                <div class="ui compact segments left_float">
{#                    <div class="ui green inverted segment">#}
{#                        <p>#}
{#                            جمع کل خرید شما :#}
{#{{ sum }}#}
{#                        </p>#}
{#                    </div>#}
                    <div class="ui teal inverted segment">
                        <p>
                            مبلغ قابل پرداخت:
                            <span id="total_price">
                                {{ sum2 }}
                            </span>
                        </p>
                    </div>
                </div>
{#                <a class="ui big red tag label" style="float: left; top: 70px;">مبلغ قابل پرداخت</a>#}
            </div>

        </div>
    </div>
    </form>
{% endblock %}

