{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{% static 'service_provider/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'javascript/sale_script.js' %}"></script>
    <!-- End WOWSlider.com HEAD section -->
{% endblock %}



{% block content %}
<div style="height: 120%">
</div>
    <div>
        <div style="position:absolute;background-color: whitesmoke;left: 5%;top: 30%; height: 70%;width: 90%;border: 2px;border-radius: 14px;font-family:serif  ">
            <div>
                <div class="options" style="position: absolute ;right: 1%; z-index: 4">
                    <a id="btnNotification" href="notification" class="notification" rel="#overlay" data-id="88906" data-type="2" data-price="6900000">
                        <img src="../../static/sale/image/notification.gif">
                    </a>
                    <a target="_blank" href="">
                        <img src="../../static/sale/image/compare.gif">
                    </a>
                    <a id="productLike" class="like" data-id="88906" style="position: absolute;background-color: #6aaa15;border-radius: 2px;height: 30px;width:30px;top: 0px;right: 230px;">
                        <span id="plikeCount" class="num white">
3
                        </span>
                    </a>
                </div>
            </div>
            <div style="position:absolute;background-color: aliceblue;top: 5%;right: 0%; height: 80%;width: 40%;border-radius: 14px;margin: 1% ">
                <img src="../../static/sale/image/iran.jpg" style="position:absolute;width: 100%;height: 100%;border-radius: 14px">
            </div>
            <div class="colorList" style="position: absolute;z-index: 5;top: 90%;right: 1%;">
                <div class="rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                    <div class="txt"> امتیاز کاربران ( از
                        <span itemprop="ratingCount" style="border:none">6</span> رای )
                        <label class="boldtext">
                            <span itemprop="ratingValue" style="border:none">7.3</span>
                            <meta itemprop="worstRating" content="1"><meta itemprop="bestRating" content="10">
                        </label>
                    </div>
                    <div class="gray">
                        <div class="red" style="width:73%">

                        </div>
                    </div>
                </div>
            </div>

             <div style="position:absolute;background-color: #dfdfdf;right: 41%;top: 10%; height: 85%;width: 0.2%;border-radius: 14px ;margin: 1%">
            </div>
             <div style="position:absolute;right: 42%; height: 60%;width: 40%;border-radius: 14px ;margin: 1%;">
                  <div style="position:absolute;top:22%;right:1%; height: 10%;width:70%;">
                    <table>
                        <td>
موسسه ارائه دهنده :

                        </td>
                        <td>
                          توریران
                        </td>
                    </table>
                  </div>
                  <div style="position:absolute;top:37%;right:1%; height: 10%;width:70%;border-radius: 10px">
                  <table>
                        <td>
مقصد :

                        </td>
                        <td>
                            ایران
                        </td>
                    </table>
                  </div>
                  <div style="position:absolute;top:52%;right:1%; height: 10%;width:70%;border-radius: 10px">
                  <table>
                        <td>
وسیله نقلیه :

                        </td>
                        <td>
                            هواپیمای ایرباس 820
                        </td>
                    </table>
                  </div>
                  <div style="position:absolute;top:67%;right:1%; height: 10%;width:70%;border-radius: 10px">
           <table>
                        <td>
توضیحات :
                        </td>
                        <td>
ندارد
                        </td>
                    </table>

                  </div>
            </div>
             <div style="position:absolute;background-color: #dfdfdf;right: 42%;top: 61%; height: 0.5%;width: 35%;border-radius: 14px ;margin: 1%">
            </div>

             <div style="position:absolute;right: 42%;top: 62%; height: 30%;width: 40%;border-radius: 14px ;margin: 1%">
                  <div style="position:absolute;top:2%;right:1%; height: 40%;width:70%;border-radius: 10px">
           <table>
                        <td>
هزینه تور :
                        </td>
                        <td>
2,400,000
                        </td>
                    </table>
                  </div>
                  <div style="position:absolute;top:47%;right:1%; height: 40%;width:70%;border-radius: 10px">
                  <button class="ui button" style="background-color: #6aaa15; color: #ffffff">
افزون به سبد خرید
                  <i class="icon user"></i>
                  </button>
                  </div>
            </div>
        </div>
        <div style="position: absolute;top: 95%;right: 1%">
            <article id="relatedproducts"><header class="pdc" style="position: absolute;right: 1%">
                <img src="../../static/sale/image/relatedproducts.gif">
            </header>
                <a class="prev leftarrow disabled" title="قبلی" style="display: block; margin-top: 68px;">

                </a>
                <div class="scroller hidden" style="width: 904px; height: 138px; display: block;">
                    <div class="items" style="position:absolute;right: 0%;top: 27%;"><a class="productItem" href="" data-id="88906" style="width: 159.8px; padding-left: 10px; padding-right: 10px; margin-left: 0px; margin-right: 0px;">
                        <img src="../../static/sale/image/iran.jpg" width="110" height="110">
                        <div>
                            <label class="title">
    توضیحات
                            </label>
                        </div>

                        <label class="green">
                            570,000
                        </label>
                    </a>
                    </div>
                </div>
                    <div class="scroller hidden" style="width: 904px; height: 138px; display: block;">
                    <div class="items" style="position:absolute;right: 20%;top: 27%;"><a class="productItem" href="" data-id="88906" style="width: 159.8px; padding-left: 10px; padding-right: 10px; margin-left: 0px; margin-right: 0px;">
                        <img src="../../static/sale/image/iran.jpg" width="110" height="110">
                        <div>
                            <label class="title">
    توضیحات
                            </label>
                        </div>
                        <label class="green">
                            450,000
                        </label>
                    </a>
                    </div>
                </div>
                <a class="next rightarrow" title="بعدی" style="display: block; margin-top: 68px;">

                </a>
            </article>
        </div>
        <!--<div class="scroller hidden" style="position:absolute;top:75%;width: 904px; height: 138px; display: block;">-->
            <!--<div class="items" style="right: 0px;">-->
                <!--<a class="productItem" href="http://www.digikala.com/Product/DKP-87663/Asics-GEL-Super-J33-T3S5N-0105-Women-Running-Shoes/کفش-مخصوص-دویدن-زنانه-Asics-مدل-GEL-Super-J33-کد-T3S5N-0105" title="کفش مخصوص دویدن زنانه Asics مدل GEL Super J33 کد T3S5N-0105" data-id="87663" style="width: 159.8px; padding-left: 10px; padding-right: 10px; margin-left: 0px; margin-right: 0px;">-->
                    <!--<img src="http://2.187.253.36/Digikala/Image/Webstore/Product/P_87663/110/Sport-Shoes-Asics-GEL-Super-J33-T3S5N-0105ec0844.jpg" alt="کفش مخصوص دویدن زنانه Asics مدل GEL Super J33 کد T3S5N-0105 - Asics GEL Super J33 T3S5N-0105 Women Running Shoes" title="کفش مخصوص دویدن زنانه Asics مدل GEL Super J33 کد T3S5N-0105 - Asics GEL Super J33 T3S5N-0105 Women Running Shoes" width="110" height="110">-->
                    <!--<label class="title">کفش مخصوص دویدن زنانه Asics مدل GEL Super J33 کد T3S5N-0105</label>-->
                    <!--<label class="green">690,000 تومان</label>-->
                <!--</a>-->
                <!--<a class="productItem" href="http://www.digikala.com/Product/DKP-86832/Nike-Lunar-Eclipse-4-629683-302-Women-Running-Shoes/کفش-مخصوص-دویدن-زنانه-Nike-مدل-Lunar-Eclipse-4-کد-302-629683" title="کفش مخصوص دویدن زنانه Nike مدل Lunar Eclipse+ 4 کد 302-629683" data-id="86832" style="width: 159.8px; padding-left: 10px; padding-right: 10px; margin-left: 0px; margin-right: 0px;">-->
                    <!--<img src="http://2.187.253.36/Digikala/Image/Webstore/Product/P_86832/110/Sport-Shoes-Nike-Lunar-Eclipse-plus-4-629683-302ce6e3a.gif" alt="کفش مخصوص دویدن زنانه Nike مدل Lunar Eclipse+ 4 کد 302-629683 - Nike Lunar Eclipse+ 4 629683-302 Women Running Shoes" title="کفش مخصوص دویدن زنانه Nike مدل Lunar Eclipse+ 4 کد 302-629683 - Nike Lunar Eclipse+ 4 629683-302 Women Running Shoes" width="110" height="110">-->
                    <!--<label class="title">کفش مخصوص دویدن زنانه Nike مدل Lunar Eclipse+ 4 کد 302-629683</label>-->
                    <!--<label class="green">675,000 تومان</label>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
{% endblock %}