{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'sale/css/service.css' %}">
{% endblock %}
{% block title %}
    <title>مشخصات خدمت</title>
{% endblock %}

{% block content %}
    <div class=" main_container">
        <div class="ui right_float rtl breadcrumb">
            <a class="section" href="{% url 'home' %}">صفحه اصلی</a>
            <i class="left big angle icon divider"></i>
            <a class="section">خدمات</a>
            <i class="left big angle icon divider"></i>
            <a class="section">{{ type }}</a>
            <i class="left big angle icon divider"></i>
            <div class="active section">{{ name }}</div>
        </div>

        <br>

        <div class="ui divider"></div>


        <div id="service_img_container">
            <button class="ui right green labeled icon button">
                <i class="sidebar icon"></i>
                مقایسه کن
            </button>
            <button class="ui right red labeled icon button">
                <i class="wait icon"></i>
                به من اطلاع بده
            </button>

            <br>

            <img src="{{ service.image.url }}" id="service_img">

        </div>

        <div id="service_details_container">
            <h2>{{ name }}</h2>
            <h5>{{ tagline }}</h5>





            {% if type == "هتل" %}
                <div class="ui horizontal divider">مشخصات</div>
                <div class="ui large label">
                            درجه کیفی هتل:
            {{ service.degree }}
        ستاره
                </div>
                <div class="ui large label" style="direction: ltr; margin-bottom: 3px;">
                تلفن هتل:
                {{ provider.telephone }}
                </div>
                <div class="ui large label">
                تعداد تخت هر اتاق:
                {{ service.number_of_bed }}
                </div>
                <div class="ui large label">
                ظرفیت (تعداد اتاق ها):
                {{ service.capacity }}
                </div>
                <br><br>
                <div class="ui blue large label" style="margin-bottom: 3px;">
                تاریخ شروع:
                {{ start_date }}
                </div>
                <div class="ui blue large label" style="margin-bottom: 3px;">
                تاریخ پایان:
                {{ end_date }}
                </div>
                <br><br>
                <div class="ui large label">
                آدرس هتل:
                {{ provider.location.city.name }}
                ،
                {{ provider.location.address }}
                </div>
                <div class="ui horizontal divider">امکانات</div>
                <a class="ui small{% if service.has_restaurant %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large food icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        رستوران
                    </a>
                    <a class="ui small{% if service.has_parking %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large car icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        پارکینگ
                    </a>
                    <a class="ui small{% if service.has_internet %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large wifi icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        اینترنت
                    </a>
                    <a class="ui small{% if service.has_pool %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large life ring icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        استخر
                    </a>
                    <a class="ui small{% if service.has_conference_hall %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large desktop icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        سالن کنفرانس
                    </a>
                    <a class="ui small{% if service.has_fire_extinguisher %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large fire extinguisher icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        سیستم اطفاء حریق
                    </a>
                    <a class="ui small{% if service.has_sport_salloon %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large soccer icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        سالن ورزشی
                    </a>
                    <a class="ui small{% if service.has_health_center %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large treatment icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        کلینیک درمانی
                    </a>
                    <a class="ui small{% if service.has_coffeeshop %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large coffee icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        کافی شاپ
                    </a>
                    <a class="ui small{% if service.has_emergency %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large emergency icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        اورژانس
                    </a>
                    <a class="ui small{% if service.has_jungle %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large tree icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        فضای سبز
                    </a>
                    <a class="ui small{% if service.has_protection_system %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large protect icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        سیستم یپشرفته امنیتی
                    </a>
                    <a class="ui small{% if service.has_shop_center %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large shop icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        مرکز خرید
                    </a>
                    <a class="ui small{% if service.has_gamenet %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large game icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        گیم نت
                    </a>
                    <a class="ui small{% if service.has_photo_studio %}
                            green
                        {% else %}
                            red
                    {% endif %}label" style="margin-bottom: 5px;">
                        <i class="large photo icon" style="margin-left: 10px; margin-right: 0; margin-bottom: 0;"></i>
                        آتلیه عکاسی
                    </a>


            {% elif type == "تور" %}
                <div class="ui horizontal divider">مشخصات</div>
                <div class="ui big label">
از:
                {{ service.origin.name }}
                </div>
                <div class="ui big label">
                به:
                {{ service.destination.name }}
                </div>
                <div class="ui big blue label">
                تاریخ رفت:
                {{ start_date }}
                </div>
                <div class="ui big blue label">
تاریخ برگشت:
                {{ end_date }}
                </div>

                <div class="ui big label">
                نوع سفر:
                    {% if service.trans_type == 'plane' %}
                         هوایی
                    {% elif servic.trans_type == 'tarn' %}
                        قطار
                    {% else %}
                        اتوبوس
                    {% endif %}
                </div>


            {% elif type == "پرواز" %}
                <div class="ui horizontal divider">مشخصات</div>
                <div class="ui big label">
از:
                {{ service.origin.name }}
                </div>
                <div class="ui big label">
                به:
                {{ service.destination.name }}
                </div>
                    {% if service.airplane %}
                        <div class="ui big label">
                        هواپیما:
                            {{ service.airplane }}
                        </div>

                    {% endif %}
                <div class="ui big blue label">
                تاریخ :
                {{ start_date }}
                </div>
                <div class="ui big blue label">
               ساعت :
                {{ service.time.hour }}:{{ service.time.minute }}
                </div>


            {% endif %}


            <div class="ui horizontal divider">وضعیت</div>
            {% if exist %}
                <div class="ui small green label">موجود
                    <i class="large white checkmark box icon"></i>
                </div>
                <div class="ui small label">
                    ظرفیت کل:
                {{ service.capacity }}
                </div>
                <div class="ui small label">
                    ظرفیت باقی مانده:
                {{ remain }}
                </div>
            {% else %}
                <i class="red remove circle icon"></i>
                <i class="ui small black label">ناموجود</i>
            {% endif %}

            {% if service.description %}
            <div class="ui horizontal divider">توضیحات</div>
            <div class="ui segment">
                {{ service.description }}
            </div>
            {% endif %}

            <div class="ui horizontal divider">خرید</div>

            <span>قیمت: </span>
            <span class="off_price">{{ service.price }}</span>
        ریال
{#            <div>#}
{#                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8955192008875!2d51.48534099999998!3d35.72878800000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQzJzQzLjYiTiA1McKwMjknMDcuMiJF!5e0!3m2!1sen!2sir!4v1438352009292" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#            </div>#}
            <div class="ui big labeled left floated green icon button ">

                افزودن به سبد خرید
             </a>
                <i class="add to cart icon"></i>
            </div>
        </div>
    </div>

    <div class="mrg-auto" style="width: 1180px;">
        <i class="big chevron circle left icon right_float"></i>
        <div class="ui large grey label right_float">نظرات کاربران</div>
    </div>
    <br/>

    <div class="main_container">

        {% for comment in comments %}
            <div class="user_comment">
                <div class="ui label" style="float: right">{{ comment.sender.name }} </div>
                <div class="ui label" style="float: left">{{ comment.send_time }} </div>
                <br><br>
                <div class="ui segment">
                    <p>{{ comment.text | linebreaks }}</p>
                </div>
            </div>
            <div class="ui divider"></div>
        {% endfor %}

        <form class="ui form" action="{% url 'comment' %}" method="post">
            {% csrf_token %}
            <div class="field">
                <label class="right_float">لطفا نظر خود را وارد کنید</label>
                <textarea rows="5" type="text" class="rtl" name="comment"></textarea>
                <input type="text" style="display: none" value="{{ service.sold_number }}" name="sn">
            </div>
            <button type="submit" class="ui large grey button left_float">ارسال نظر</button>
        </form>
    </div>

{% endblock %}