{% extends 'tourist/dashbord.html' %}
{% load staticfiles %}

{% block menu_content %}
    <form class="ui form" style="height: auto!important;">
        <input type="text" style="margin-bottom: 5px;" placeholder="نام کاربری گیرنده">
        <div class="field">
            <textarea placeholder="متن پیام را وارد کنید" style="height: 215px;"></textarea>
        </div>
        <div class="ui left floated buttons">
            <button class="ui red button">انصراف</button>
            <div class="or" data-text="یا"></div>
            <button class="ui positive button">ارسال</button>
        </div>
    </form>
{% endblock %}