{% extends 'management/dashboard.html' %}

{% block menu_content %}
    <h2>انتخاب تبلیغات</h2>
    <form class="ui form right_float">
        <div class="field">
            <label>تبلیغ اول</label>
            <input class="right_aligned" type="text" name="first-name" value="سخت سیر"
                   placeholder="خالی">
        </div>
        <button class="ui button" type="submit">تعویض</button>
        <div class="field">
            <label>تبلیغ دوم</label>
            <input class="right_aligned" type="text" name="last-name" value="آسان سیر"
                   placeholder="خالی">
        </div>
        <button class="ui button" type="submit">تعویض</button>
        <div class="field">
            <label>تبلیغ سوم</label>
            <input class="right_aligned" type="text" name="last-name" value="آسان سیر"
                   placeholder="خالی">
        </div>
        <button class="ui button" type="submit">تعویض</button>
        <div class="field">
            <label>تبلیغ چهارم</label>
            <input class="right_aligned" type="text" name="last-name"
                   placeholder="خالی">
        </div>
        <button class="ui button" type="submit">تعویض</button>


    </form>
{% endblock %}