{% extends 'management/dashboard.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'management/css/advertisement.css' %}"/>
    <script src="{% static 'management/javascript/advertisement.js' %}"></script>
{% endblock %}
{% block menu_content %}
    <h2 class="ui header">
        تعیین تبلیغات برای صفحه خانه سایت
    </h2>
    <div class="ui divider"></div>
    <h5 class="ui header">
        برای هر قسمت خدمت رسانی که می خواهید تبلیغ آن را بکنید انتخاب کنید!
    </h5>
    <form action="" id="advertise-form" method="post">
        {% csrf_token %}
        <ul id="results"></ul>

        <section class="red_bordered advertisement">
            <div class="ad_number">
                <div class="ad_title">
                    تبلیغ اول :
                </div>
            </div>
            <div class="ad_select">
                <div class="ui input auto-complete">
                    {{ form.add1 }}
                </div>
            </div>
        </section>
        <section class="green_bordered advertisement">
            <div class="ad_number">
                <div class="ad_title">
                    تبلیغ دوم :
                </div>
            </div>
            <div class="ad_select">
                <div class="ui input auto-complete">
                    {{ form.add2 }}
                </div>
            </div>
        </section>
        <section class="blue_bordered advertisement">
            <div class="ad_number">
                <div class="ad_title">
                    تبلیغ سوم:
                </div>
            </div>
            <div class="ad_select">
                <div class="ui input auto-complete">
                    {{ form.add3 }}
                </div>
            </div>
        </section>
        <section class="yellow_bordered advertisement">
            <div class="ad_number">
                <div class="ad_title">
                    تبلیغ چهارم:
                </div>
            </div>
            <div class="ad_select">
                <div class="ui input auto-complete">
                    {{ form.add4 }}
                </div>
            </div>
        </section>
        <section class="orange_bordered advertisement">
            <div class="ad_number">
                <div class="ad_title">
                    تبلیغ پنجم:
                </div>
            </div>
            <div class="ad_select">
                <div class="ui input auto-complete">
                    {{ form.add5 }}
                </div>
            </div>
        </section>
        <input type="submit" value="ثبت تبلیغات" class="ui green button" style="margin-right: 20px; margin-top: 20px;;"/>
    </form>

{% endblock %}


