{% extends 'management/dashboard.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'messaging/css/message_box.css' %}"/>
{% endblock %}

{% block menu_content %}
    {% for complain in complains_list %}
        <div class="ui inverted segment" style="background-color: #f0f0f0">
            <div class="sent message">
                <div class="right floated metadata">
                    <div class="message_header">
                        <h1 class="ui header ">{{ complain.title }}</h1>
                    </div>
                    <div class="mailer">
                        <div class="ui tiny header">

                            <div class="sub header" style="color: darkgreen;">
                                وضعیت:
                                {{ complain.get_state }}
                            </div>
                        </div>
                    </div>
                    <div class="ui tiny header">

                        <div class="sub header">
                            {{ complain.service_item.tourist }}
                        </div>
                    </div>
                    <div class="ui tiny header">

                        <div class="sub header">
                            {{ complain.service_item.service }}
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="message_text">
                    {{ complain.text | linebreaks }}
                </div>
                <div class="ui divider"></div>
                <div class="message_text" style="color: red">
                    <b>جواب:</b>
                    <br>
                    {{ complain.answer | linebreaks }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}