{% extends 'management/dashboard.html' %}
{% block menu_content %}
    <h2>گزارش خرید گردشگران</h2>
    <h3>ویژگی کاربران مشمول گزارش</h3>
    <div class="ui form rtl ">
        <div class="field">
            <label>سطح کاربری:</label>
        </div>

        <div class="fields right_float">
            <div class="three wide field">
                <input type="number" placeholder="از">
            </div>
            <div class="three wide field">
                <input type="number" placeholder="تا">
            </div>
        </div>
    </div>
{% endblock %}