{% extends 'management/dashboard.html' %}
{% load staticfiles %}
{% block nav_item %}
    گردش‌ساز(یار)ان غیر فعال
{% endblock %}
{% block menu_content %}

    <br><br><br>
    <div class="ui right_float four cards rtl">
        {% for item in providers %}
            <div class="ui card rtl right_aligned" style="min-width: 200px">
                <div class="image" style="height: 209px;">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" style="max-height: 210px">
                    {% else %}
                        <img src="{% static 'bower_components/semantic-ui/examples/assets/images/wireframe/image-square.png' %}">
                    {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{ item.name }}</a>

                    <div class="description">
                        {{ item.short_description }}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <div class="extra content">
                            <form method="post" action="{% url 'deactive_providers' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.id }}" name="provider_id">
                                <input type="submit" class="ui green button" value="فعال کردن">
                            </form>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}