{% extends 'management/dashboard.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'base/css/persian-datepicker-0.4.5.css' %}"/>
    <script src="{% static 'base/javascript/persian-date-0.1.8.js' %}"></script>
    <script src="{% static 'base/javascript/persian-datepicker-0.4.5.js' %}"></script>
    <script src="{% static 'management/javascript/pie_report.js' %}"></script>
{% endblock %}
{% block nav_item %}
    گزارش نسبت سهم خدمات عرضه شده در فروش
{% endblock %}
{% block menu_content %}
    <h2>گزارش دوره‌ای نسبت سهم خدمات عرضه شده در فروش سامانه سپاس‌ایران</h2>
    <div class="ui tow column grid">

        <div class="four wide column">
            <form class="ui form rtl" action="{% url 'pie_report' %}" method="post">
                {% csrf_token %}
                <h3>ویژگی کاربران مشمول گزارش</h3>
                {% for field in form %}
                    <div class="tow field">
                        <div class="field{% if field.errors %}error{% endif %}">
                            {{ field.label }}
                        </div>
                        <div class="field">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}

                <div class="ui rtl" dir="rtl" style="color: red; margin-right: -25px">
                    {% for k, message in form.errors.items %}
                        {{ message }}
                    {% endfor %}
                </div>
                <input type="submit" style="margin-top: 20px" class="ui green button"
                       value="دریافت گزارش">
            </form>
        </div>
        <div class="twelve wide column" id="chart_container" dir="ltr">
        </div>
    </div>
    <style type="text/css">
        ${demo.css}
    </style>
    <script type="text/javascript">
        $(function () {
            $('#chart_container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'درصد فروش انواع مختلف خدمت'
                },
                tooltip: {
                    pointFormat: '{series.name}: ٪<b>{point.percentage:.1f}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: [{
                        name: "تور",
                        y: {{ tour }}
                    }, {
                        name: "هتل",
                        y: {{ hotel }}

                    }, {
                        name: "هواپیما",
                        y: {{ flight }}
                    }]
                }]
            });
        });
    </script>
    <script src="{% static 'management/Highcharts-4.1.7/js/highcharts.js' %}"></script>
    <script src="{% static 'management/Highcharts-4.1.7/js/modules/exporting.js' %}"></script>
{% endblock %}

