
#profpic {
    display: inline-block;
    width: auto;
    height: auto;
    min-height: 280px;
    max-height: 320px;
    max-width: 270px;
}

#user_information {
    display: inline-block;
    float: left;
    width: 65%;
    height: auto;
}

input[type='file'] {
  opacity:0
}

#button {
    border: 1px solid white;
    background-color: #00719b;
    border-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
    position: relative;
    right: -15px;
}

#information {
    margin: auto;
    vertical-align: middle;
    border: none;
    position: relative;
    margin-top: 18px;
    direction: rtl;
    text-align: right;
}

#information tr td {
    direction: rtl;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 270px;
    text-align: right;
}

#chng_img_btn {
    width: 100px;
    height: 40px;
    background-image: url("../images/changepic.png")!important;
    cursor: pointer;
    border: 2px solid aqua;
    padding-top: 10px;
    margin: auto;
}


select option {
    text-align: right;
    direction: rtl;
}

#my_form {
    height: auto;
}