.mrgtp_1em {
    margin-top: 1.4em!important;
    margin-left: 20px!important;
    background-color: #5bc0de!important;
    color: #ffffff!important;
}

.content h3 {
    margin-right: 40px;
}

.item img {
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}