{% extends "base/base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'tourist/css/forgot_pass_style.css' %}"/>
{% endblock %}

{% block content %}
    <div id="main_content">
        <div class="ui segment" id="forgot_pass_section">
            <div class="inner">
                <div class="ui center aligned small icon header">
                    <img class="icon" src="{% static 'tourist/images/reset_pass_icon.png' %}">

                    <div style="font-family: inherit">
                        یادآوری کلمه عبور
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="content rtl">
                    <div class="description">
                        <form class="ui form {% if form.errors %}error{% endif %}" method="post" action="">
                            {% csrf_token %}
                            <div class="field">
                                <label>پست الکترونیک</label>
                                <input type="email" name="email" placeholder="youruser@example.com" dir="ltr">
                            </div>
                            <div class="field">
                                <label>حاصل عبارت زیر را در کادر روبروی آن وارد کنید</label>
                                <input type="text" name="captcha" placeholder=""
                                       style="display: inline-block; width: 55%; height: 30px">
                                <img src="{% static 'tourist/images/captcha.jpg' %}"
                                     style="display: inline-block; float: left; height: 30px; max-width: 40%; border-radius: 4px; border: 1px solid rgba(50,50,50,0.3)">
                            </div>


                            <button class="digiblue ui button" type="submit">ورود به سپاس ایران</button>
                            <div class="ui error message rtl" dir="rtl">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ui clearing divider"></div>
                <div class="bottom attached header rtl">
                    <div class="center aligned">
                        <div class="rememberme ui checkbox">
                            <input type="checkbox" name="example">
                            <label>مرا به خاطر بسپار</label>
                        </div>

                        <div class="register">قبلاً در سپاس ایران ثبت نام نکرده اید؟ <a class="green"
                                                                                        href="{% url 'register_tourist' %}">ثبت
                            نام
                            در سپاس ایران</a></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}