{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/engine1/style.css' %}" />
    <script type="text/javascript" src="{% static 'home/engine1/wowslider.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/engine1/style.mod.css' %}" />
    <script type="text/javascript" src="{% static 'home/engine1/wowslider.mod.js' %}"></script>
    <!-- End WOWSlider.com HEAD section -->
    <script type="text/javascript" src="{% static 'home/javascript/home_script.js' %}"></script>
{% endblock %}

{% block title %}
    <title>بنیاد اینترنتی سپاس ایران</title>
{% endblock %}


{% block content %}
    <br><br>

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="{% static 'home/data1/images/antalia.jpg' %}" alt="antalia" title="سواحل بکر آنتالیا" id="wows1_0"/></li>
		<li><img src="{% static 'home/data1/images/calahari.jpg' %}" alt="calahari" title="صحرای خوش آب و هوای کالاهاری" id="wows1_1"/></li>
		<li><img src="{% static 'home/data1/images/marjani.jpg' %}" alt="marjani" title="صخره های مرحانی" id="wows1_2"/></li>
		<li><a href="http://wowslider.com"><img src="{% static 'home/data1/images/pattaya.jpg' %}" alt="image slider jquery" title="طبیعت باصفای پاتایا" id="wows1_3"/></a></li>
		<li><img src="{% static 'home/data1/images/shaddad.jpg' %}" alt="shaddad" title="در بهشت شداد" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#sd" title="سواحل بکر آنتالیا"><span><img src="{% static 'home/data1/tooltips/antalia.jpg' %}" alt="antalia"/>1</span></a>
		<a href="#" title="صحرای خوش آب و هوای کالاهاری"><span><img src="{% static 'home/data1/tooltips/calahari.jpg' %}" alt="calahari"/>2</span></a>
		<a href="#" title="صخره های مرحانی"><span><img src="{% static 'home/data1/tooltips/marjani.jpg' %}" alt="marjani"/>3</span></a>
		<a href="#" title="طبیعت باصفای پاتایا"><span><img src="{% static 'home/data1/tooltips/pattaya.jpg' %}" alt="pattaya"/>4</span></a>
		<a href="#" title="در بهشت شداد"><span><img src="{% static 'home/data1/tooltips/shaddad.jpg' %}" alt="shaddad"/>5</span></a>
	</div></div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="{% static 'home/engine1/wowslider.js' %}"></script>
<script type="text/javascript" src="{% static 'home/engine1/script.js' %}"></script>
<!-- End WOWSlider.com BODY section -->

    <br><br>

<div class="mrg-auto">
	<div class="item_preview">
		<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'home/images/airline.jpg' %}" class="card_image">
      </div>
      <div class="content card_link">
{#<<<<<<< HEAD#}
{#        <a href="{% url 'service_list' %}" class="header card_header">هواپیمایی</a>#}
{#=======#}
        <a href="" class="header card_header">هواپیمایی</a>
{#>>>>>>> 995a700ffea9b58b6d7ebd8aeafe33009aa7c759#}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'home/images/hotel.jpg' %}" class="card_image">
      </div>
      <div class="content card_link">
{#<<<<<<< HEAD#}
{#        <a href="{% url 'service_list' %}" class="header card_header">هتل</a>#}
{#=======#}
        <a href="" class="header card_header">هتل</a>
{#>>>>>>> 995a700ffea9b58b6d7ebd8aeafe33009aa7c759#}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'home/images/tour.jpeg' %}" class="card_image">
      </div>
      <div class="content card_link">
{#<<<<<<< HEAD#}
{#        <a href="{% url 'service_list' %}" class="header card_header">تور</a>#}
{#=======#}
        <a href="" class="header card_header">تور</a>
{#>>>>>>> 995a700ffea9b58b6d7ebd8aeafe33009aa7c759#}
      </div>
    </div>
  </div>
</div>
    </div>
</div>

<br><br>


    <div class="mrg-auto">
		<div class="item_preview">
    	    <div class="ui segments">
		  		<div class="ui segment new_topics">
            		<span><b>جدیدترین خدمات</b></span>
  				</div>
  				<div class="ui secondary segment">
            		<div class="ui five column grid">
						<div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img src="{% static 'home/images/airline.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">پاتایا</a>
									<div class="meta">
										<span class="date">18 مهر 94</span>
									</div>
									<div class="description">
										از اون تورهای باصفای شاخ
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										230 نفر
									</a>
								</div>
							</div>
					  	</div>
					  	<div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img src="{% static 'home/images/airline.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">آنتالیا</a>
									<div class="meta">
										<span class="date">18 مرداد 94</span>
									</div>
									<div class="description">
										ینی اگه نری از دست دادی
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										125 نفر
									</a>
								</div>
							</div>
					  	</div>
                        <div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img style="height: 159px;" src="{% static 'home/images/tour.jpeg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">زامبیا</a>
									<div class="meta">
										<span class="date">3 تیر 95</span>
									</div>
									<div class="description">
										احمدی نژاد میبره اینو
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										300 نفر
									</a>
								</div>
							</div>
					  	</div>
                        <div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img style="height: 159px;" src="{% static 'home/images/hotel.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">هتل سگمست</a>
									<div class="meta">
										<span class="date">18 مهر 94</span>
									</div>
									<div class="description">
										استخرش خیلی شاخه
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										430 تخت
									</a>
								</div>
							</div>
					  	</div>
                        <div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img src="{% static 'home/images/airline.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">سگ یوش</a>
									<div class="meta">
										<span class="date">18 مهر 94</span>
									</div>
									<div class="description">
										توضیح نداره
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										230 نفر
									</a>
								</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
        </div>
	</div>

    <br><br>

     <div class="mrg-auto">
		<div class="item_preview">
    	    <div class="ui segments">
		  		<div class="ui segment new_topics">
            		<span><b>محبوب ترین خدمات</b></span>
  				</div>
  				<div class="ui secondary segment">
            		<div class="ui five column grid">
						<div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img src="{% static 'home/images/airline.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">پاتایا</a>
									<div class="meta">
										<span class="date">18 مهر 94</span>
									</div>
									<div class="description">
										از اون تورهای باصفای شاخ
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										230 نفر
									</a>
								</div>
							</div>
					  	</div>
					  	<div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img src="{% static 'home/images/airline.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">آنتالیا</a>
									<div class="meta">
										<span class="date">18 مرداد 94</span>
									</div>
									<div class="description">
										ینی اگه نری از دست دادی
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										125 نفر
									</a>
								</div>
							</div>
					  	</div>
                        <div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img style="height: 159px;" src="{% static 'home/images/tour.jpeg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">زامبیا</a>
									<div class="meta">
										<span class="date">3 تیر 95</span>
									</div>
									<div class="description">
										احمدی نژاد میبره اینو
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										300 نفر
									</a>
								</div>
							</div>
					  	</div>
                        <div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img style="height: 159px;" src="{% static 'home/images/hotel.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">هتل سگمست</a>
									<div class="meta">
										<span class="date">18 مهر 94</span>
									</div>
									<div class="description">
										استخرش خیلی شاخه
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										430 تخت
									</a>
								</div>
							</div>
					  	</div>
                        <div class="column">
							<div class="ui card persian_card">
 								<div class="image new_topics_img">
    								<img src="{% static 'home/images/airline.jpg' %}">
  								</div>
								<div class="content">
									<a href="{% url 'home' %}" class="header">سگ یوش</a>
									<div class="meta">
										<span class="date">18 مهر 94</span>
									</div>
									<div class="description">
										توضیح نداره
									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="user icon"></i>
										230 نفر
									</a>
								</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
        </div>
	</div>

<br><br>

{% endblock %}

