{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/engine1/style.css' %}" />
    <script type="text/javascript" src="{% static 'home/engine1/wowslider.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/engine1/style.mod.css' %}" />
    <script type="text/javascript" src="{% static 'home/engine1/wowslider.mod.js' %}"></script>
    <!-- End WOWSlider.com HEAD section -->
    <script type="text/javascript" src="{% static 'home/javascript/home_script.js' %}"></script>
{% endblock %}

{% block title %}
    <title>بنیاد اینترنتی سپاس ایران</title>
{% endblock %}


{% block content %}
    <br><br>

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="{% static 'home/data1/images/antalia.jpg' %}" alt="antalia" title="سواحل بکر آنتالیا" id="wows1_0"/></li>
		<li><img src="{% static 'home/data1/images/calahari.jpg' %}" alt="calahari" title="صحرای خوش آب و هوای کالاهاری" id="wows1_1"/></li>
		<li><img src="{% static 'home/data1/images/marjani.jpg' %}" alt="marjani" title="صخره های مرحانی" id="wows1_2"/></li>
		<li><a href="http://wowslider.com"><img src="{% static 'home/data1/images/pattaya.jpg' %}" alt="image slider jquery" title="طبیعت باصفای پاتایا" id="wows1_3"/></a></li>
		<li><img src="{% static 'home/data1/images/shaddad.jpg' %}" alt="shaddad" title="در بهشت شداد" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#sd" title="سواحل بکر آنتالیا"><span><img src="{% static 'home/data1/tooltips/antalia.jpg' %}" alt="antalia"/>1</span></a>
		<a href="#" title="صحرای خوش آب و هوای کالاهاری"><span><img src="{% static 'home/data1/tooltips/calahari.jpg' %}" alt="calahari"/>2</span></a>
		<a href="#" title="صخره های مرحانی"><span><img src="{% static 'home/data1/tooltips/marjani.jpg' %}" alt="marjani"/>3</span></a>
		<a href="#" title="طبیعت باصفای پاتایا"><span><img src="{% static 'home/data1/tooltips/pattaya.jpg' %}" alt="pattaya"/>4</span></a>
		<a href="#" title="در بهشت شداد"><span><img src="{% static 'home/data1/tooltips/shaddad.jpg' %}" alt="shaddad"/>5</span></a>
	</div></div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="{% static 'home/engine1/wowslider.js' %}"></script>
<script type="text/javascript" src="{% static 'home/engine1/script.js' %}"></script>
<!-- End WOWSlider.com BODY section -->

    <br><br>

<div class="mrg-auto">
	<div class="item_preview">
		<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'home/images/airline.jpg' %}" class="card_image">
      </div>
      <div class="content card_link">

        <a href="{% url 'type_service_list' 'flight'%}" class="header card_header">هواپیمایی</a>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'home/images/hotel.jpg' %}" class="card_image">
      </div>
      <div class="content card_link">

        <a href="{% url 'type_service_list' 'room'%}" class="header card_header">هتل</a>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'home/images/tour.jpeg' %}" class="card_image">
      </div>
      <div class="content card_link">
        <a href="{% url 'type_service_list' 'tour'%}" class="header card_header">تور</a>
      </div>
    </div>
  </div>
</div>
    </div>
</div>

<br><br>


    <div class="mrg-auto">
		<div class="item_preview">
    	    <div class="ui segments">
		  		<div class="ui segment new_topics">
            		<span><b>جدیدترین خدمات</b></span>
  				</div>
  				<div class="ui secondary segment">
            		<div class="ui five column grid">
						{% for service, sold in new_services %}
                        <div class="column">
							<div class="ui card persian_card">
                                {% include 'base/service_show.html' %}


							</div>
					  	</div>
                        {% endfor %}

					</div>
				</div>
			</div>
        </div>
	</div>

    <br><br>
    {% if recomended_services %}
     <div class="mrg-auto">
		<div class="item_preview">
    	    <div class="ui segments">
                <div class="ui segment new_topics">
                    <span><b>خدمات پیشنهادی</b></span>
                </div>
  				<div class="ui secondary segment">
            		<div class="ui five column grid" style="direction:rtl;">
						{% for service, sold in recomended_services %}
                        <div class="column">
							<div class="ui card persian_card">
                                {% include 'base/service_show.html' %}
							</div>
					  	</div>
                        {% endfor %}

					</div>
				</div>
			</div>
        </div>
	</div>
    {% endif %}

<br><br>

{% endblock %}

